WebAppProducto/Connected Services/productoServiceRef/ProductoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52888/ProductoServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52888/ProductoServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52888/ProductoServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Indigowcf" />
      <xsd:import schemaLocation="http://localhost:52888/ProductoServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductoService_nuevoProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:nuevoProducto" />
  </wsdl:message>
  <wsdl:message name="IProductoService_nuevoProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:nuevoProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_editarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:editarProducto" />
  </wsdl:message>
  <wsdl:message name="IProductoService_editarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:editarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_eliminarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarProducto" />
  </wsdl:message>
  <wsdl:message name="IProductoService_eliminarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_buscarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarProducto" />
  </wsdl:message>
  <wsdl:message name="IProductoService_buscarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_consultarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:consultarProducto" />
  </wsdl:message>
  <wsdl:message name="IProductoService_consultarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_mostrarProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrarProductos" />
  </wsdl:message>
  <wsdl:message name="IProductoService_mostrarProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarProductosResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductoService">
    <wsdl:operation name="nuevoProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/nuevoProducto" message="tns:IProductoService_nuevoProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/nuevoProductoResponse" message="tns:IProductoService_nuevoProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/editarProducto" message="tns:IProductoService_editarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/editarProductoResponse" message="tns:IProductoService_editarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/eliminarProducto" message="tns:IProductoService_eliminarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/eliminarProductoResponse" message="tns:IProductoService_eliminarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/buscarProducto" message="tns:IProductoService_buscarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/buscarProductoResponse" message="tns:IProductoService_buscarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/consultarProducto" message="tns:IProductoService_consultarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/consultarProductoResponse" message="tns:IProductoService_consultarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostrarProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/mostrarProductos" message="tns:IProductoService_mostrarProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/mostrarProductosResponse" message="tns:IProductoService_mostrarProductos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductoService" type="tns:IProductoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nuevoProducto">
      <soap:operation soapAction="http://tempuri.org/IProductoService/nuevoProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarProducto">
      <soap:operation soapAction="http://tempuri.org/IProductoService/editarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarProducto">
      <soap:operation soapAction="http://tempuri.org/IProductoService/eliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarProducto">
      <soap:operation soapAction="http://tempuri.org/IProductoService/buscarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarProducto">
      <soap:operation soapAction="http://tempuri.org/IProductoService/consultarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarProductos">
      <soap:operation soapAction="http://tempuri.org/IProductoService/mostrarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductoService">
    <wsdl:port name="BasicHttpBinding_IProductoService" binding="tns:BasicHttpBinding_IProductoService">
      <soap:address location="http://localhost:52888/ProductoServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>