WebAppProducto/Connected Services/remisionServiceRef/RemisionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52888/RemisionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Indigowcf" />
  <xs:element name="nuevaRemision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Indigowcf" minOccurs="0" name="remision" nillable="true" type="q1:Remision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nuevaRemisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nuevaRemisionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Indigowcf" minOccurs="0" name="remision" nillable="true" type="q2:Remision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarEstadoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nuevaRemisionEntrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Indigowcf" minOccurs="0" name="remisiondetalle" nillable="true" type="q3:RemisionDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nuevaRemisionEntradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nuevaRemisionEntradaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarInventarioFisico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Indigowcf" minOccurs="0" name="remision" nillable="true" type="q4:Remision" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Indigowcf" minOccurs="0" name="remisiondetalle" nillable="true" type="q5:RemisionDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarInventarioFisicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarInventarioFisicoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRemision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRemision" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRemisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Indigowcf" minOccurs="0" name="buscarRemisionResult" nillable="true" type="q6:Remision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="suma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sumaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>