WebAppProducto/Connected Services/remisionServiceRef/RemisionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Indigowcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Indigowcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Remision">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdAlmacen" type="xs:int" />
      <xs:element minOccurs="0" name="IdProveedor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Remision" nillable="true" type="tns:Remision" />
  <xs:complexType name="RemisionDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdRemisionEntrada" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemisionDetalle" nillable="true" type="tns:RemisionDetalle" />
</xs:schema>