WebAppProducto/Connected Services/remisionServiceRef/RemisionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RemisionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52888/RemisionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52888/RemisionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52888/RemisionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Indigowcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRemisionService_nuevaRemision_InputMessage">
    <wsdl:part name="parameters" element="tns:nuevaRemision" />
  </wsdl:message>
  <wsdl:message name="IRemisionService_nuevaRemision_OutputMessage">
    <wsdl:part name="parameters" element="tns:nuevaRemisionResponse" />
  </wsdl:message>
  <wsdl:message name="IRemisionService_actualizarEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarEstado" />
  </wsdl:message>
  <wsdl:message name="IRemisionService_actualizarEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="IRemisionService_nuevaRemisionEntrada_InputMessage">
    <wsdl:part name="parameters" element="tns:nuevaRemisionEntrada" />
  </wsdl:message>
  <wsdl:message name="IRemisionService_nuevaRemisionEntrada_OutputMessage">
    <wsdl:part name="parameters" element="tns:nuevaRemisionEntradaResponse" />
  </wsdl:message>
  <wsdl:message name="IRemisionService_actualizarInventarioFisico_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarInventarioFisico" />
  </wsdl:message>
  <wsdl:message name="IRemisionService_actualizarInventarioFisico_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarInventarioFisicoResponse" />
  </wsdl:message>
  <wsdl:message name="IRemisionService_buscarRemision_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarRemision" />
  </wsdl:message>
  <wsdl:message name="IRemisionService_buscarRemision_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarRemisionResponse" />
  </wsdl:message>
  <wsdl:message name="IRemisionService_suma_InputMessage">
    <wsdl:part name="parameters" element="tns:suma" />
  </wsdl:message>
  <wsdl:message name="IRemisionService_suma_OutputMessage">
    <wsdl:part name="parameters" element="tns:sumaResponse" />
  </wsdl:message>
  <wsdl:portType name="IRemisionService">
    <wsdl:operation name="nuevaRemision">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemisionService/nuevaRemision" message="tns:IRemisionService_nuevaRemision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemisionService/nuevaRemisionResponse" message="tns:IRemisionService_nuevaRemision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemisionService/actualizarEstado" message="tns:IRemisionService_actualizarEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemisionService/actualizarEstadoResponse" message="tns:IRemisionService_actualizarEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="nuevaRemisionEntrada">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemisionService/nuevaRemisionEntrada" message="tns:IRemisionService_nuevaRemisionEntrada_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemisionService/nuevaRemisionEntradaResponse" message="tns:IRemisionService_nuevaRemisionEntrada_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarInventarioFisico">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemisionService/actualizarInventarioFisico" message="tns:IRemisionService_actualizarInventarioFisico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemisionService/actualizarInventarioFisicoResponse" message="tns:IRemisionService_actualizarInventarioFisico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarRemision">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemisionService/buscarRemision" message="tns:IRemisionService_buscarRemision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemisionService/buscarRemisionResponse" message="tns:IRemisionService_buscarRemision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="suma">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemisionService/suma" message="tns:IRemisionService_suma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemisionService/sumaResponse" message="tns:IRemisionService_suma_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRemisionService" type="tns:IRemisionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nuevaRemision">
      <soap:operation soapAction="http://tempuri.org/IRemisionService/nuevaRemision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarEstado">
      <soap:operation soapAction="http://tempuri.org/IRemisionService/actualizarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nuevaRemisionEntrada">
      <soap:operation soapAction="http://tempuri.org/IRemisionService/nuevaRemisionEntrada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarInventarioFisico">
      <soap:operation soapAction="http://tempuri.org/IRemisionService/actualizarInventarioFisico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarRemision">
      <soap:operation soapAction="http://tempuri.org/IRemisionService/buscarRemision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="suma">
      <soap:operation soapAction="http://tempuri.org/IRemisionService/suma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemisionService">
    <wsdl:port name="BasicHttpBinding_IRemisionService" binding="tns:BasicHttpBinding_IRemisionService">
      <soap:address location="http://localhost:52888/RemisionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>